.tsp_authors_note .left{
	float: left;
}
.tsp_authors_note .right{
    float: right;
}
.tsp_authors_note .clear{
    clear: both;
    height: 0px;
}
.tsp_authors_note .meta div{
    padding-bottom: 3px;
}
.tsp_authors_note .links div{
	width: 24px;
	height: 24px;
	padding-right: 4px;
}
.tsp_authors_note #aim{
	background: transparent url('images/aim.png') no-repeat;
	background-size: 100% !important;
}
.tsp_authors_note #yim{
    background: transparent url('images/yim.png') no-repeat;
    background-size: 100% !important;
}
.tsp_authors_note #jabber{
    background: transparent url('images/jabber.png') no-repeat;
    background-size: 100% !important;
}
.tsp_authors_note .photo img{
	display: inline;
	float: left;
	clear: left;
	margin-right: 10px;	
}

#style1.tsp_authors_note {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    padding: 5px 20px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#style1.tsp_authors_note .name {
    font-style: italic;
    padding-top: 4px;
}

#style1.tsp_authors_note .website {
    font-size: .95em;
    padding: 5px 0;
    font-weight: bold;
    font-style: italic;
}

#style2.tsp_authors_note {
    background: -moz-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.65)),color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);  /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000',endColorstr='#00000000',GradientType=0); /* IE6-9 */
    padding: 5px 20px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#style2.tsp_authors_note .name {
    font-style: italic;
    padding-top: 4px;
}

#style2.tsp_authors_note .website {
    font-size: .95em;
    padding: 5px 0;
    font-weight: bold;
    font-style: italic;
}